
.promo{
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../../img/main_bg.png') center (center/cover) no-repeat;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 42px;
        color: #fff;
    }
    &__subheader{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 24px;
        color:#fff
    }
    &__icons{
        display: flex;
        width: 452px;
        margin-top: 60px;
        color: #fff;
        justify-content: space-between;
        
    }
    &__icon{
        text-align: center;
        width: 110px;
        font-weight: 500;
        font-size: 14px;
        img{
            display: block;
            margin: 0 auto 20px auto;
        }
    }
    &__link{
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        margin-top: 8px;
        a{
            color: #fff;
        }
    }
}